
  </br>
  </br>
  </br>
  </br>
 
<div class="jumbotron">
<center>
  <h1>Update Profile </h1>

    <div class="container"> 
</br>
  </br>
           <%= render 'form' %> 
           
       </center>    
     </div>    
</div>

