  </br>
  </br> 
  <div class='col-xs-20 col-xs-offset-7'>
<h1><b>Welcome <%= @user.name %></h1></b>
<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <%= @user.name %>
        </td>
    </tr>
   <tr>
        <td>
            Email:
        </td>
        <td>
            <%= @user.email %>
        </td>
    </tr>
</table>
</div>