
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "WHATIMEISIT", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Register",   sign_up_path %></li>
            <li><%= link_to "Log in", sign_in_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    </div>
  </body>
</html>